.cfg
[A-Za-z]*
.config/nvim/lazy-lock.json
.DS_Store
.CFUserTextEncoding
.bash_history
.lesshst
.npm
.oh-my-zsh
.python_history
.swp
.vim
.vim*
.wget-hsts
.zcomp*
.zprofile
.zsh_history
.zsh_sessions
